---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Contact">
    <div class="flex flex-col min-h-[calc(100dvh)] items-center justify-center text-5xl">
        Contact
    </div>
</Layout>
