---
import { cn } from "@/lib/utils";
import { navLinks } from "@/lib/conf";

interface Props {
    class?: string;
}

const { class: className } = Astro.props;

const pathname = new URL(Astro.request.url).pathname;
---

<div class="fixed bottom-5 inset-x-0 z-50 w-full text-sm">
    <nav
        class={cn(
            "relative my-4 max-w-xl mx-4 sm:mx-auto w-full bg-card/60 backdrop-blur-sm border rounded-[2rem] flex items-center justify-center gap-3 shadow",
            className
        )}>
        {
            navLinks.map((link) => (
                <a
                    class={`p-3 border-b-2 focus:outline-none ${
                        pathname === link.href
                            ? "border-primary font-medium"
                            : "border-transparent text-foreground/80 hover:text-foreground"
                    }`}
                    href={link.href}
                    aria-current={pathname === link.href ? "page" : undefined}>
                    {link.label}
                </a>
            ))
        }
    </nav>
</div>
