---
import { cn } from "@/lib/utils";
import { navLinks } from "@/lib/conf";
import { Icon } from "astro-icon/components";

interface Props {
    class?: string;
}

const { class: className } = Astro.props;

const pathname = new URL(Astro.request.url).pathname;
---

<div class="fixed bottom-5 inset-x-0 z-50 w-full flex">
    <nav
        class={cn(
            "relative my-4 max-w-xl mx-4 sm:mx-auto w-full bg-card/60 backdrop-blur-sm border rounded-[2rem] flex items-center justify-center gap-3 shadow",
            className
        )}>
        {
            navLinks.map((link) => (
                <a
                    class={`flex items-center flex-col sm:flex-row sm:gap-2 text-sm sm:text-base p-3 border-b-2 focus:outline-none ${
                        pathname === link.href
                            ? "border-primary font-medium"
                            : "border-transparent text-foreground/60 hover:text-foreground"
                    }`}
                    href={link.href}
                    aria-current={pathname === link.href ? "page" : undefined}>
                    <Icon
                        name={link.icon}
                        class="size-5"
                    />
                    <span class="">{link.label}</span>
                </a>
            ))
        }
    </nav>
</div>
